* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Helvetica;
  font-size: 16px;
  background:#F9F9F9;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFF;
}

.logo-container {
  padding: 1rem;
}

.logo {
  width: 120px;
  cursor: pointer;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
  padding: 1rem;
}
.nav-items > ul > li {
  padding: 0.5rem;
}
.restaurant-container {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.restaurant-card {
  width: 230px;
  margin: 1rem;
  border-radius: 1rem;
  display:grid;
  grid-auto-flow:row;
  justify-content: stretch;
  align-items:center;
  padding:0;
}
.restaurant-card:hover {
  border: 1px solid #f0f0f0;
  cursor: pointer;
}

.restaurant-card img {
  width: 100%;
  height:160px;
  object-fit: cover;
  border-radius: 1rem;
}

.cuisine {
  font-weight: 200;
  letter-spacing: -0.3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.restaurant-details {
  padding: 0.5rem;
  display: grid;
  grid-gap: 0.25rem;
}
.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left:0.75rem;
}
.restaurant-name {
    font-size: 18px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
.area {
  font-weight: 200;
  letter-spacing: -0.3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filter-btn {
    cursor:pointer;
    padding: 0 0.5rem;
    margin: 0 0.5rem;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card {
    width: 230px;
    height: 200px;
    margin: 1rem;
    border-radius: 1rem;
    display:grid;
    grid-auto-flow:row;
    justify-content: stretch;
    align-items:center;
    padding:0;
    background: #F0F0F0;
}

.login-btn {
    cursor:pointer;
    border-radius:1rem;
}

.filter{
    display:flex;
}

.rupee:before {
  content:"\20B9 "
}
.menu{
  display:grid;
  grid-template-columns: 3fr 6fr 3fr;
  grid-gap:1rem;
  padding:1rem;
}

.menu-card {
  display: grid;
  grid-template-columns:10fr 2fr;
  padding:1rem 0;
}
.menu-left-card{
  display:grid;
  gap: 0.5rem;
}
.item-img{
  width:100px;
  display:relative;
}
.item-description{
  padding:0.5rem;
  font-weight:200;
  color:#999;
  font-size:0.8rem;
}